@import "../styles/fonts";
@import "../styles/reset";
@import "../styles/variables";

body {
  // color: $black;
  // background-color: $greyWhite;
  width: 370px;
  height: 600px;
}


.popupContainer {
  width: 370px;
  height: 600px;
  // background: url("../assets/img/bg_login.png");
}

#home_button,
#home_button_two {
  width: 75%;
  font-weight: 500;
  border-radius: 15px;
  padding: 5px 10px;
  justify-content: center;
  margin: 20px auto;
  cursor: pointer;
  display: flex;
  z-index: 3;
}

#home_button {
  background-color: white;
  color: #059FDD;
  z-index: 3;
}

#home_button_two {
  background-color: #059FDD;
  color: white;
  border: 2px solid white;
  z-index: 3;
}

.home_screen_bg {
  position: absolute;
  background: #059fdd;
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  padding: 2rem 0;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
